$primaryColor: #ACD9B2;
$secundaryColor: #C7C7C7;
$textColor: #C7C7C7;

$bodyFont: Quicksand;
$titleFont: "";


html {
    overflow-x: hidden;
    width: 100vw;
}

img{
    max-width: 100%;
    height: auto;
}

.encabezado {
    box-shadow: 1px 1px 10px $textColor;

    .encabezado__hamburguesa {
        @media screen and (min-width:0) {
            display: block;
        }

        @media screen and (min-width:768px) {
            display: none;
        }
    }

    .enbezado__logo {
        display: flex;
        align-items: center;

        a {
            width: 100%;
            margin: 0;
        }
    }

    .encabezado__menu {


        @media screen and (min-width:0px) {
            display: none;
        }

        @media screen and (min-width:769px) {
            display: flex;
            align-items: center;
        }


        ul {
            display: flex;
            list-style: none;
            align-items: center;
            margin: 0;

            li {
                padding: 5px 10px;
                border: 1px solid transparent;
                margin: 0 2px;

                a {
                    text-decoration: none;
                    font-family: $bodyFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: $textColor;
                }

                &:hover,
                &.current {
                    border: 1px solid #ACD9B2;
                    box-sizing: border-box;
                    border-radius: 10px;

                    a {
                        color: #ACD9B2;
                    }
                }
            }
        }
    }

    .encabezado__menu-responsive {

        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        

        &.menu_active {
            ul {
                animation-name: menu_responsive;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
            }
        }



        ul {
            display: flex;
            list-style: none;
            padding-left: 0;
            align-items: center;
            margin: 0;
            flex-wrap: wrap;
            justify-content: center;

            li {
                padding: 5px 10px;
                border: 1px solid transparent;
                margin: 0 2px;


                a {
                    text-decoration: none;
                    font-family: $bodyFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: $textColor;
                }

                &:hover,
                &.current {
                    border: 1px solid #ACD9B2;
                    box-sizing: border-box;
                    border-radius: 10px;

                    a {
                        color: #ACD9B2;
                    }
                }
            }
        }
    }

    .encabezado__cart {
        display: flex;
        align-items: center;
        margin-left: auto;

        @media screen and (min-width:0) {
            margin-left: 0;
        }

        @media screen and (min-width:600px) {
            margin-left: auto;
        }

        .encabezado_sign-in {
            font-family: Quicksand;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            text-align: right;
            text-decoration: none;
            color: #ACD9B2;
            margin-right: 10px;

            &:hover {
                color: #C7C7C7;
            }


        }

        .encabezado__link {
            &.active {
                position: relative;

                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    background-color: #ACD9B2;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(50%);
                    z-index: 1;
                }
            }
        }
    }
}

.productos__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

.productos__filtro {
    margin: 10px 0;

    @media screen and (min-width:0px) {
        text-align: center;
    }

    @media screen and (min-width:767px) {
        text-align: unset;
    }


    input {
        background: #F7F7F7;
        border: 1px solid #F7F7F7;
        box-sizing: border-box;
        border-radius: 15px;
        padding: 10px;
        text-indent: 30px;
        background-image: url("../img/icon-search.svg");
        background-repeat: no-repeat;
        background-position: 10px center;

        @media screen and (min-width:0px) {
            min-width: 0px;
        }

        @media screen and (min-width:767px) {
            min-width: 350px;
        }

        &:focus {
            outline: none;
        }
    }

    ::placeholder {
        font-family: Quicksand;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}

.productos__order {
    margin-left: 20px;

    strong {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;

        @media screen and (min-width:0px) {
            margin-top: 15px;
            display: inline-block;
        }

        @media screen and (min-width:767px) {
            margin-top: 0;
        }
    }

    select {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 17px;
        text-align: center;
        color: #797979;
        background-color: transparent;
        border: none;
    }


}

.productos__card {
    width: 17%;
    margin-top: 10px;
    margin-bottom: 10px;

    img {
        width: 100%;
        height: auto;
        border-radius: 40px;
        object-fit: contain;
        object-position: center;
    }

    @media screen and (min-width:0px) {
        width: 45%;
    }

    @media screen and (min-width:700px) {
        width: 30%;
    }

    @media screen and (min-width:900px) {
        width: 17%;
    }
}

.productos__desc {
    .productos__precio {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 19px;
        color: #404040;
    }

    .productos__titulo {
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #797979;
    }
}

.producto__caption {
    display: flex;
    justify-content: space-between;

    .productos__cart {
        .productos__add-to-cart {
            background-color: #ACD9B2;
            padding: 15px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: inline-block;
            position: relative;
            transition: 200ms;

            &:hover {
                opacity: 0.8;
            }

            img {
                width: 25px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                margin: 0;
            }
        }
    }
}


.signin {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .signin__container {
        margin: 0 auto;
        display: block;
        max-width: 400px;
        width: 100%;
        margin: 20px 0;

        .sigin__titulo {
            font-family: Quicksand;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 40px;
        }

        .signin__form {
            .name--campo {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    font-family: Quicksand;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                    margin-bottom: 5px;
                }

                input:not([type=submit]) {
                    background: #F7F7F7;
                    border: 1px solid #F7F7F7;
                    box-sizing: border-box;
                    border-radius: 10px;
                    height: 45px;
                    font-family: Quicksand;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #797979;
                    text-indent: 10px;

                    &:focus {
                        outline: none;
                    }
                }

            }

            input[type=submit] {
                margin-top: 30px;
                background: #ACD9B2;
                border: 1px solid #ACD9B2;
                box-sizing: border-box;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0001);
                border-radius: 10px;
                width: 100%;
                height: 55px;
                font-family: Quicksand;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #FFFFFF;
                transition: 200ms;

                &:hover {
                    background-color: #000000;
                }

                &:focus {
                    outline: none;
                }
            }

            .signin_create-link {
                margin-top: 30px;

                a {
                    border: 1px solid #ACD9B2;
                    box-sizing: border-box;
                    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.0001));
                    border-radius: 10px;
                    width: 100%;
                    height: 55px;
                    display: inline-block;
                    text-decoration: none;
                    color: #ACD9B2;
                    font-family: Quicksand;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 55px;
                    text-align: center;
                    transition: 200ms;

                    &:hover {
                        background-color: #000;
                        color: white;
                    }
                }
            }
        }
    }
}


footer {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #797979;
    background-color: #0000;
    border: none;
}



@keyframes menu_responsive {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}